body {
    background-color: rgb(103, 185, 233);
}
h1 {
    text-align: center;
    font-size: 4em;
    font-family:Helvetica, Arial, sans-serif;
    color: rgb(37, 16, 70);
}
h3 {
    text-align: center;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(73, 8, 126);
}
h4{
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(57, 7, 99);
}
ul, ol {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: blueviolet;
}
img {
    height: auto;
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}